#kaocha/v1
        {:tests      [{:id          :unit
                       :test-paths  ["src"]
                       :ns-patterns [""]}]
         :reporter   [com.colinphill.extra-special.impl.test.kaocha/reporter
                      kaocha.report/documentation
                      #_kaocha.report/dots]}
